[mysqld]
#datadir=/var/lib/mysql
datadir=/data/dev/data/mysql
#socket=/var/lib/mysql/mysql.sock
socket=/data/dev/run/mysql/mysql.sock
user=mysql
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0

default-character-set=utf8

[mysqld_safe]
#log-error=/var/log/mysqld.log
log-error=/data/dev/logs/mysql/mysqld.log
#pid-file=/var/run/mysqld/mysqld.pid
pid-file=/data/dev/run/mysql/mysqld.pid

[client]
socket=/data/dev/run/mysql/mysql.sock
